<div class="md-content layout-fill" *ngIf="client">
	<md-sidenav-container class="example-container layout-fill">
		<md-sidenav #sidenav class="side-nav" mode="side" opened="{{client.name || false}}">
			<banner-menus [project]="project" [selectedBanner]="banner" [client]="client"></banner-menus>
		</md-sidenav>

		<div class="md-content layout-fill">
			<div class="iframe-container">
				<div class="options">
					<div>
						<button class="md-primary" md-icon-button md-raised-button (click)="refreshBanner()" mdTooltip="Refresh Banner" mdTooltipPosition="left">
							<i class="material-icons">refresh</i>
						</button>
					</div>
					<div>
						<button class="md-primary" md-icon-button md-raised-button (click)="upload()" mdTooltip="Change Banner" mdTooltipPosition="left">
							<i class="material-icons">file_upload</i>
						</button>
					</div>
					<div>
						<button class="md-primary" md-icon-button md-raised-button (click)="getCompressBanner(client, project, banner)" mdTooltip="Download Banner" mdTooltipPosition="left">
							<i class="material-icons">get_app</i>
						</button>
					</div>
					<div>
						<button class="md-primary" md-icon-button md-raised-button (click)="showPreview()" mdTooltip="Show Preview" mdTooltipPosition="left">
							<i class="material-icons">image</i>
						</button>
					</div>
				</div>
				<div>
					<object [data]="banner_url" height="{{banner.height}}" width="{{banner.width}}" id="banner" border="0"></object>
				</div>
			</div>
			<div id="canvas"></div>
		</div>
		<div class="logo">
			<img src="./../assets/images/logo.png">
		</div>
	</md-sidenav-container>
</div>